
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.rows {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.lightTheme {
    --background-image: 0 0 url(../assets/bg-desktop-light.jpg) no-repeat;
    --body-bg-color: hsl(0, 0%, 98%);
    --todolist-bg-color: hsl(0, 0%, 98%);
    --todo-shadow: hsl(235, 19%, 35%);
    --font-color: hsl(236, 9%, 61%);
    --font-color-hover: hsl(235, 21%, 11%);
}

.darkTheme {
    --background-image: 0 0 url(../assets/bg-desktop-dark.jpg) no-repeat;
    --body-bg-color: hsl(235, 21%, 11%);
    --todolist-bg-color: hsl(235, 24%, 19%);
    --todo-shadow: hsl(235, 21%, 11%);
    --font-color: hsl(234, 39%, 85%);
    --font-color-hover: #fff;
}

body {
    font: 400 18px/1 "Josefin Sans", sans-serf;
    background: var(--background-image);
    background-color: var(--body-bg-color);
    background-size: contain;
    color: var(--font-color);
}

header,
main {
    max-width: 545px;
    margin: 0 auto;
}

header {
    justify-content: space-between;
    padding: 52px 0 11px;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: 1rem;
}

.Theme {
    margin: -10px 0 0;
}

.Theme #theme {
    display: none;
}

.Theme #theme + label::before {
    content: "";
    background: url(../assets/icon-sun.svg);
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.Theme #theme:checked + label::before {
    background: url(../assets/icon-moon.svg);
}

.add_item {
    background: var(--todolist-bg-color);
    height: 65px;
    border-radius: 5px;
    margin: 0 0 24px;
    padding: 0 26px;
    position: relative;
}

.add_item #addItem {
    background: transparent;
    color: var(--font-color);
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font: 400 18px/1 "Josefin Sans", sans-serf;
    margin: 4px 0 0 47px;
    letter-spacing: -0.3px;
}

.add_item span {
    width: 25px;
    height: 25px;
    border: 1px solid var(--font-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 26px;
    top: 21px;
    cursor: pointer;
}

.add_item span:hover {
    background: center url(../assets/icon-check.svg) no-repeat,
        linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.content {
    background: var(--todolist-bg-color);
    border-radius: 5px;
    box-shadow: 0 42px 30px -9px var(--todo-shadow);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

 li {
    padding: 0 10px 0 25px;
    min-height: 65px;
    border-bottom: 1px solid var(--font-color);
    position: relative;
}

 li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

 li label {
    position: relative;
    cursor: pointer;
    padding: 2px 0 0 48px;
    font-size: 1.1rem;
}

.checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 25px;
    width: 25px;
}

 li.hidden {
    display: none;
}

 li input[type="checkbox"] ~ .checkmark {
    border: 1px solid var(--font-color);
    border-radius: 50px;
}

 li input[type="checkbox"] ~ .checkmark:hover {
    border: 0;
    padding: 1px;
    background: center url(../assets/icon-check.svg) no-repeat,
        linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

 li input[type="checkbox"] ~ .checkmark:hover::before {
    content: "";
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: block;
    background: center url(../assets/icon-check.svg) no-repeat,
    linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

 li input[type="checkbox"]:checked ~ .checkmark {
    background: center url(../assets/icon-check.svg) no-repeat,
        linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

 li input[type="checkbox"]:checked ~ .text {
    text-decoration: line-through;
}

.remove {
    background: url(../assets/icon-cross.svg) no-repeat;
    width: 18px;
    height: 18px;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
}

 li:hover .remove {
    display: block;
}

.items-left {
    margin-right: 86px;
}

.buttons {
    padding: 20px 20px 20px 27px;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    align-items: baseline;
    border-radius: 5px;
    background: var(--todolist-bg-color);
}

.change {
    margin-right: 47px;
}

.change input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.change label {
    cursor: pointer;
    padding: 0 10px;
}

.change label:hover {
    color: var(--font-color-hover);
}

.change input[type="radio"]:checked ~ span {
    color: hsl(221, 62%, 52%);
}

.clear {
    color: var(--font-color);
    cursor: pointer;
}

.clear:hover {
    color: var(--font-color-hover);
}